<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<center>
<h1 >&emsp;&emsp;Patent Search</h1>
    <form action="/select" method="post">
     <font size="5">
        Term1 <input type="text" name="t1" >
        in field 1
       &emsp;
        <select id="field_1" name="field1">
  		<option value ="PublicationNumber">PublicationNumber</option>
  		<option value ="Assignee_Applicant">Assignee_Applicant</option>
  		<option value="Title">Title</option>
  		<option value="PublicationDate">PublicationDate</option>
                <option value="ApplicationDate">ApplicationDate</option>
		<option value="PriorityDate">PriorityDate</option>
		<option value="Inventor">Inventor</option>
        </select>

  <br>
        <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

            <select id="chose" name="chose">
  		<option value ="and">and</option>
  		<option value ="or">or</option>
            </select>
<br>
        <br>

         Term2 <input type="text" name="t2" >
            in field 2
            &emsp;
            <select id="field_2" name="field2">
  		<option value ="PublicationNumber">PublicationNumber</option>
  		<option value ="Assignee_Applicant">Assignee_Applicant</option>
  		<option value="Title">Title</option>
  		<option value="PublicationDate">PublicationDate</option>
                <option value="ApplicationDate">ApplicationDate</option>
		<option value="PriorityDate">PriorityDate</option>
		<option value="Inventor">Inventor</option>
       
       	    </select>
        </p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

        <input type="submit" value="select">
     </font>
    </form>

</center>
</body>
</html>